@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=M+PLUS+1:wght@700&display=swap');

a{
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    font-family: 'M Plus 1', sans-serif;
    background-color: #000;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 15%;
    margin-bottom: 1.5rem;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
}

.content{
    display: flex;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
}

.heading{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    margin-bottom: 2.5rem;
}

.proj{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    justify-content: space-evenly;
}

.proj img{
    display: flex;
    justify-content: center;
    max-width: 20rem;
}

.proj h2{
    display: flex;
    justify-content: center;    
}

.about h1{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.about p{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}